<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/theatre">Theatre page</a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/plays">Plays</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/theatre/play/add">Add</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/tickets">Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/theatre/schedule">Schedule</a>
        </li>
       </ul>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li *ngIf="isLoggedIn$ | async">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
        <div class="col-sm-4"  *ngFor="let item of plays" style="margin-bottom: 2.5em;">
          <div style="width: 18rem;" class="card" >
            <img [src]="getImageUrl(item)" class="card-img card-img-top image-scale" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">description: <strong>{{item.description}}</strong></p>
                <p class="card-text">Authors: <b>{{item.actors}}</b></p>
            </div>  
          </div>
        </div>
    </div>
  </div>