<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Client page</a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="home/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home/theatres">Theatres</a>
        </li>
       </ul>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li *ngIf="isLoggedIn$ | async">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container main-container d-flex justify-content-center">
    <div class="row">
        <div class="col-sm-4 margin-bot"  *ngFor="let item of events">
          <div class="card main-card" >
            <img [src]="getImageUrl(item.play)" class="card-img card-img-top image-scale" alt="...">
            <div class="card-body">
                <h2 class="card-title">{{item.play.name}}</h2>
                <p class="card-text">theatre: <strong>{{item.theatreName}}</strong></p>
                <p class="card-text">Seats: <strong>{{item.availableSeats}}</strong></p>
                <p class="card-text">Date: <strong>{{item.datetime}}</strong></p>
                <p class="card-text">Description: <strong>{{item.play.description}}</strong></p>
            </div>  
          </div>
        </div>
    </div>
  </div>