<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="mb-3">
        <input type="text" class="form-control" name="username"[(ngModel)]="model.username" placeholder="Username">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="email"[(ngModel)]="model.email" placeholder="Email">
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" name="password"[(ngModel)]="model.password" placeholder="Password">
    </div>
    <div class="mb-3">
        <input type="Text" class="form-control" name="city"[(ngModel)]="model.address.city" placeholder="City">
    </div>
    <div class="mb-3">
        <input type="Text" class="form-control" name="street"[(ngModel)]="model.address.street" placeholder="Street">
    </div>
    <div class="mb-3">
        <input type="Number" class="form-control" name="Number"[(ngModel)]="model.address.number" placeholder="Number">
    </div>
    <div class="mb-3">
        <input type="Number" class="form-control" name="totalseats"[(ngModel)]="model.address.street" placeholder="Total seats">
    </div>
    <label for="image">Select image to upload:</label>
    <input type="file" name="image" id="image" (change)="onFileSelected($event)">
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>